:root {
  --black: #001018;
  --primary-accent: #ff9966;
  --primary-accent-hover: #ff7733;
  --secondary-accent: #66ccff;
  --light-orange: #fff5ef;
  --light-orange-clickable: #ffe5d6;
  --light-orange-hover: #ffd5bc;
  --light-blue: #eff9ff;
  --light-green: #effff5;
  --light-pink: #ffeff9;
  --light-red: #ffeff1;
}
