:root {
  --fs-small: 0.8rem;
  --fs-regular: calc(var(--fs-small) * 1.61803);
  --fs-large: calc(var(--fs-regular) * 1.61803);
  --fs-xl: calc(var(--fs-large) * 1.61803);
  --pad-size-small: calc(var(--fs-small));
  --pad-size: var(--fs-regular);
  --radius: calc(var(--fs-large));
  --border-width: calc(var(--pad-size-small) * 0.618);
}
